:root {
  --main-text-color: #000000;
  --secondary-text-color: #907e82;
  --light-text-color: #ffffff;
  --accent-color: #d41443;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --background-color: #ffb8ca;
  --round-color: #ffa5ba;
  --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
}
