:root {
    --main-text-color: #000000;
    --secondary-text-color: #907E82;
    --light-text-color: #FFFFFF;
    --accent-color: #D41443;
    --main-bg-color: #FFFFFF;
    --secondary-bg-color: #FFF5F6;
    --background-color: #FFB8CA;
    --round-color: #FFA5BA;
    --timing-animation: cubic-bezier(0.4, 0, 0.2, 1)
}