<link type='image/png' sizes='76×76' rel='icon' href='./images/products-images/product1-desk.png'>
<section class="section-advantages">
    <div class="container advantages">
        <h2 class="hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item advantages__icon-icecream"></li>
            <li class="advantages__item advantages__item-style">721</li>
            <li class="advantages__item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
        </ul>
        <ul class="advantages__list">
            <li class="advantages__item advantages__icon-fruit"></li>
            <li class="advantages__item advantages__item-style">16kg</li>
            <li class="advantages__item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
        </ul>
        <ul class="advantages__list advantages__icon-senses">
            <li class="advantages__item"></li>
            <li class="advantages__item advantages__item-style">84</li>
            <li class="advantages__item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
        </ul>
    </div>
</section>