<section class="section-advantages">
    <div class="container advantages">
        <h2 class="hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item advantages__icon-icecream">
                <p class="advantages__item-style">721</p>
            </li>
            <li class="advantages__item current-container">
                <p> Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
               </li>
        </ul>
        <ul class="advantages__list current-list">
            <li class="advantages__item advantages__icon-fruit">
                <p class="advantages__item-style">16kg</p>
            </li>
            <li class="advantages__item current-container">
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
        <ul class="advantages__list current-list">
            <li class="advantages__item advantages__icon-senses">
                <p class="advantages__item-style">84</p>
            </li>
            <li class="advantages__item current-container">
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>