<div class="backdrop-buynow is-hidden">
    <div class="modal-buynow">
        <button class="close-modal-button-buynow">
            <img class="link-icon-close" src="./images/svg/close-menu.svg" alt="close" />
        </button>
        <p class="modal-title-buynow">Wanna ice creame? Just if few clicks:)</p>
        <form class="modal-form-buynow">
            <div class="product-check">
                <label class="ice-check">Ice Cream
                    <img class="ice-check__icon" src="./images/products-images/product1-mob.png" alt="icecream"
                        width="100" height="100">
                    <input type="checkbox" class="check">
                    <span class="checkmark"></span>
</label>
<label class="ice-check">Ice Coffee
    <img class="ice-check__icon" src="./images/products-images/product2-mob.png" alt="icecream" width="100"
        height="100">
    <input type="checkbox" class="check">
    <span class="checkmark"></span>
</label>
<label class="ice-check">Milkshake
    <img class="ice-check__icon" src="./images/products-images/product3-mob.png" alt="icecream" width="100"
        height="100">
    <input type="checkbox" class="check">
    <span class="checkmark"></span> 
</label>
</div>
<div class="delivery">
    <ul class="delivery-list list">
        <li class="delivery-menu">
            <input class="radio_input" name="delivery" type="radio" id="del1">
            <span class="custom-radio-btn"></span>
            <label class="cow" for="del1">by cow</label>
        </li>
        <li class="delivery-menu">
            <input class="radio_input" name="delivery" type="radio" id="del2">
            <span class="custom-radio-btn"></span>
            <label class="courier" for="del2">by courier</label>
        </li>
        <li class="delivery-menu">
            <input class="radio_input" name="delivery" type="radio" id="del3">
            <span class="custom-radio-btn"></span>
            <label class="helicopter" for="del3">by helicopter</label>
        </li>
    </ul>
</div>
<div class="modal-field">
    <label class="modal-label" for="name">Name</label>
    <div class="modal-wrap">
        <input type="text" name="user-name" class="modal-input" id="name" />
        <!-- <svg class="form-icon" width="18px" height="18px">
                <use href="./img/svg/icons.svg#icon-person"></use>
            </svg> -->
    </div>
</div>
<div class="modal-field">
    <label class="modal-label" for="tel">Tel-number</label>
    <div class="modal-wrap">
        <input type="tel" name="user-tel" class="modal-input" id="tel" />
        <!-- <svg class="form-icon" width="18px" height="18px">
                <use href="./img/svg/icons.svg#icon-tel"></use>
            </svg> -->
    </div>
</div>
<div class="modal-field">
    <label class="modal-label" for="mail">Mail</label>
    <div class="modal-wrap">
        <input type="email" name="user-email" class="modal-input" id="mail" />
        <!-- <svg class="form-icon" width="18px" height="18px">
                <use href="./img/svg/icons.svg#icon-mail"></use>
            </svg> -->
    </div>
</div>
<div class="modal-field">
    <label class="modal-label" for="comment">Anything else?</label>
    <textarea name="user-comment" class="modal-input-comment" id="comment" placeholder="tell us..."></textarea>
</div>
<button type="submit" class="modal-button">Ice it!</button>

</form>
</div>
</div> -->