<section class="section contacts">
  <div class="container">
    <h1 class="contacts__title hidden">contacts</h1>
    <ul class="contacts__card__list list">
      <li class="contacts__card__item">
        <div class="contacts__card__info">
          <ul class="location__list list">
            <li class="location__item">
              <div class="location">
                <span class="location__place">Cafe</span>
                <span class="location__name">Chicago</span>
                <p class="location__text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
              </div>
            </li>
            <li class="location__item">
              <div class="work__schedule">
                <ul class="work__list">
                  <li class="work__item">
                    <span class="work__day">Monday - Friday</span>
                    <time class="work__time">06:00 AM - 10:00 PM</time>
                  </li>
                  <li class="work__item">
                    <span class="work__day">Saturday - Sunday</span>
                    <time class="work__time">08:00 AM - 16:00 PM</time>
                  </li>
                </ul>
              </div>
            </li>
            <li class="location__item">
              <div>
                <a class="contacts__tell connect" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
                <a
                  class="contacts__mail connect"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card__item">
        <div class="contacts__card__info">
          <ul class="location__list list">
            <li class="location__item">
              <div class="location">
                <span class="location__place">Foodtruck</span>
                <span class="location__name">Los Angeles</span>
                <p class="location__text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
              </div>
            </li>
            <li class="location__item">
              <div class="work__schedule">
                <ul class="work__list list">
                  <li class="work__item">
                    <span class="work__day">Monday - Friday</span>
                    <time class="work__time">06:00 AM - 10:00 PM</time>
                  </li>
                  <li class="work__item">
                    <span class="work__day">Saturday - Sunday</span>
                    <time class="work__time">08:00 AM - 16:00 PM</time>
                  </li>
                </ul>
              </div>
            </li>
            <li class="location__item">
              <div>
                <a class="contacts__tell connect" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
                <a
                  class="contacts__mail connect"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card__item">
        <div class="contacts__card__info">
          <ul class="location__list list">
            <li class="location__item">
              <div class="location">
                <span class="location__place">Cafe</span>
                <span class="location__name">New York</span>
                <p class="location__text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
              </div>
            </li>
            <li class="location__item">
              <div class="work__schedule">
                <ul class="work__list list">
                  <li class="work__item">
                    <span class="work__day">Monday - Friday</span>
                    <time class="work__time">06:00 AM - 10:00 PM</time>
                  </li>
                  <li class="work__item">
                    <span class="work__day">Saturday - Sunday</span>
                    <time class="work__time">08:00 AM - 16:00 PM</time>
                  </li>
                </ul>
              </div>
            </li>
            <li class="location__item">
              <div>
                <a class="contacts__tell connect" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
                <a
                  class="contacts__mail connect"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="button__list list">
      <li class="button__item">
        <button class="contacts__button" type="button" data-modal-open>
          Our Locations
          <span class="arrow-right"></span>
          <!-- <svg class="contacts_button_icon" width="6" height="6">
          <use href="/src/images/svg/arrow-right.svg"></use> -->
        </button>
      </li>
      <li class="button__item">
        <button class="contacts__button" type="button">
          Franchise
          <div class="arrow-right"></div>
        </button>
      </li>
    </ul>
  </div>

  <!-- ------------------------Backdrop----------------------------------------- -->

  <div class="backdrop is-hidden">
    <div class="modal">
      <button type="button" class="contacts-modal-close__button">
        <svg class="close-btn__icon" width="18" height="18">
          <use href="/src/images/svg/close-menu.svg"></use>
        </svg>
      </button>
      <p class="modal-title">Chicago</p>
      <form>
        <div class="modal__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224522.23652006485!2d-87.93414396718747!3d41.8815494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cd9457eb429%3A0xfab6a8d24dcceb21!2sCone%20Gourmet%20Ice%20Cream!5e1!3m2!1sru!2sua!4v1657912769128!5m2!1sru!2sua"
            width="320"
            height="480"
            style="border: 1px"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </form>
    </div>
  </div>
  <script src="/src/index.js"></script>
</section>
