<section class="section contacts">
  <div class="container">
    <h1 class="contacts__title hidden">contacts</h1>
    <ul class="contacts__card__list list">
      <li class="contacts__card__item">
        <div class="contacts__card__info">
          <ul class="location__list list">
            <li class="location__item">
              <div class="location">
                <span class="location__place">Cafe</span>
                <span class="location__name">Chicago</span>
                <p class="location__text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
              </div>
            </li>
            <li class="location__item">
              <div class="work__schedule">
                <ul class="work__list">
                  <li class="work__item">
                    <span class="work__day">Monday - Friday</span>
                    <time class="work__time">06:00 AM - 10:00 PM</time>
                  </li>
                  <li class="work__item">
                    <span class="work__day">Saturday - Sunday</span>
                    <time class="work__time">08:00 AM - 16:00 PM</time>
                  </li>
                </ul>
              </div>
            </li>
            <li class="location__item">
              <div>
                <a class="contacts__tell connect" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
                <a
                  class="contacts__mail connect"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card__item">
        <div class="contacts__card__info">
          <ul class="location__list list">
            <li class="location__item">
              <div class="location">
                <span class="location__place">Foodtruck</span>
                <span class="location__name">Los Angeles</span>
                <p class="location__text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
              </div>
            </li>
            <li class="location__item">
              <div class="work__schedule">
                <ul class="work__list list">
                  <li class="work__item">
                    <span class="work__day">Monday - Friday</span>
                    <time class="work__time">06:00 AM - 10:00 PM</time>
                  </li>
                  <li class="work__item">
                    <span class="work__day">Saturday - Sunday</span>
                    <time class="work__time">08:00 AM - 16:00 PM</time>
                  </li>
                </ul>
              </div>
            </li>
            <li class="location__item">
              <div>
                <a class="contacts__tell connect" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
                <a
                  class="contacts__mail connect"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card__item">
        <div class="contacts__card__info">
          <ul class="location__list list">
            <li class="location__item">
              <div class="location">
                <span class="location__place">Cafe</span>
                <span class="location__name">New York</span>
                <p class="location__text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
              </div>
            </li>
            <li class="location__item">
              <div class="work__schedule">
                <ul class="work__list list">
                  <li class="work__item">
                    <span class="work__day">Monday - Friday</span>
                    <time class="work__time">06:00 AM - 10:00 PM</time>
                  </li>
                  <li class="work__item">
                    <span class="work__day">Saturday - Sunday</span>
                    <time class="work__time">08:00 AM - 16:00 PM</time>
                  </li>
                </ul>
              </div>
            </li>
            <li class="location__item">
              <div>
                <a class="contacts__tell connect" href="tel:+61(0)383766284"
                  >+61(0) 383 766 284</a
                >
                <a
                  class="contacts__mail connect"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="button__list list">
      <li class="button__item">
        <button class="contacts__button" type="button" data-modal-open>
          Our Locations
          <span class="arrow-right"></span>
          <!-- <svg class="contacts_button_icon" width="6" height="6">
          <use href="/src/images/svg/arrow-right.svg"></use> -->
        </button>
      </li>
      <li class="button__item">
        <button class="contacts__button" type="button">
          Franchise
          <div class="arrow-right"></div>
        </button>
      </li>
    </ul>
  </div>
</section>
