<section class="section contacts" id="contacts">
  <div class="container">
    <h1 class="contacts__title hidden">contacts</h1>
    <ul class="contacts__card__list list">
      <li class="contacts__card__item">
        <div class="contacts__card__info">
          <ul class="contacts__location__list list">
            <li class="contacts__location__item">
              <div class="contacts__location__about">
                <a
                  href="https://www.kurimuchicago.com"
                  class="location__link link"
                  target="_blank"
                  rel="noopener nofollow noreferrer"
                >
                  <p class="contacts__location__name">Cafe</p>
                  <p class="contacts__location__place">Chicago</p>
                  <p class="contacts__location__text">
                    From rich and creamy ice cream to tempting bubble tea...
                  </p>
                </a>
              </div>
            </li>
            <li class="contacts__location__item">
              <div class="contacts__work__schedule">
                <ul class="contacts__work__list">
                  <li class="contacts__work__item">
                    <p class="contacts__work__day">Monday - Friday</p>
                    <p class="contacts__work__time">12:00 PM - 10:00 PM</p>
                  </li>
                  <li class="contacts__work__item">
                    <p class="contacts__work__day">Saturday - Sunday</p>
                    <p class="contacts__work__time">3:00 PM - 9:00 PM</p>
                  </li>
                </ul>
              </div>
            </li>
            <li class="contacts__location__item">
              <div>
                <a class="contacts__tell link" href="tel:+13128775227"
                  >+1 (312)-877-5227</a
                >
                <a class="contacts__mail link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card__item">
        <div class="contacts__card__info">
          <ul class="contacts__location__list list">
            <li class="contacts__location__item">
              <div class="contacts__location__about">
                <a
                  href="https://www.paradisela.com/"
                  class="location__link link"
                  target="_blank"
                  rel="noopener nofollow noreferrer"
                >
                  <p
                    class="contacts__location__name contacts__location__name--color"
                  >
                    Foodtruck
                  </p>
                  <p class="contacts__location__place">Los Angeles</p>
                  <p class="contacts__location__text">
                    Paradise Cookies & Ice Cream® From our family to yours...
                  </p>
                </a>
              </div>
            </li>
            <li class="contacts__location__item">
              <div class="contacts__work__schedule">
                <ul class="contacts__work__list list">
                  <li class="contacts__work__item">
                    <p class="contacts__work__day">Monday - Friday</p>
                    <p class="contacts__work__time">06:00 AM - 10:00 PM</p>
                  </li>
                  <li class="contacts__work__item">
                    <p class="contacts__work__day">Saturday - Sunday</p>
                    <p class="contacts__work__time">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </div>
            </li>
            <li class="contacts__location__item">
              <div>
                <a class="contacts__tell link" href="tel:+16263291313"
                  >+1 (626)-329-1313</a
                >
                <a
                  class="contacts__mail link"
                  href="mailto:hello@paradisela.com"
                  >hello@paradisela.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="contacts__card__item">
        <div class="contacts__card__info">
          <ul class="contacts__location__list list">
            <li class="contacts__location__item">
              <div class="contacts__location__about">
                <a
                  href="https://www.caffepanna.com/"
                  class="location__link link"
                  target="_blank"
                  rel="noopener nofollow noreferrer"
                >
                  <p class="contacts__location__name">Cafe</p>
                  <p class="contacts__location__place">New York</p>
                  <p class="contacts__location__text">
                    Ice cream inspired by Italy, dreamt up daily in New York
                    City.
                  </p>
                </a>
              </div>
            </li>
            <li class="contacts__location__item">
              <div class="contacts__work__schedule">
                <ul class="contacts__work__list list">
                  <li class="contacts__work__item">
                    <p class="contacts__work__day">Wednesday - Friday</p>
                    <p class="contacts__work__time">01:30 PM - 09:30 PM</p>
                  </li>
                  <li class="contacts__work__item">
                    <p class="contacts__work__day">Saturday - Sunday</p>
                    <p class="contacts__work__time">01:30 PM - 09:30 PM</p>
                  </li>
                </ul>
              </div>
            </li>
            <li class="contacts__location__item">
              <div>
                <a class="contacts__tell link" href="tel:+61(0)383766284"
                  >+1 (917)-475-1162</a
                ><br />
                <a class="contacts__mail link" href="mailto:noreply@envato.com"
                  >noreply@envato.com</a
                >
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="contacts__button__list list">
      <li class="contacts__button__item">
        <button class="contacts__button" type="button">
          Our Locations
          <div class="contacts__arrow-right"></div>
        </button>
      </li>
      <li class="contacts__button__item">
        <button
          class="contacts__button contacts__button__script contacts__button--color"
          type="button"
        >
          Franchise
          <div class="contacts__arrow-right contacts__arrow-right--color"></div>
        </button>
      </li>
    </ul>
  </div>

  <!-- ------------------------Backdrop----------------------------------------- -->

  <div class="backdrop-contacts-loc is-hidden">
    <div class="contacts-modal-loc">
      <button type="button" class="contacts-modal-close-loc__button">
        <img
          class="contacts-modal-loc__close-icon"
          src="./images/svg/close-menu.svg"
          alt="close"
          height="14"
          width="14"
        />
      </button>
      <p class="modal-loc__title">Icecream</p>
      <form>
        <div class="modal-loc__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48370.26613765322!2d-74.05687944179685!3d40.7369089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259c3202e4ca5%3A0xcda02870d8b15706!2sCaff%C3%A8%20Panna!5e0!3m2!1sen!2sua!4v1658100357010!5m2!1sen!2sua"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="contacts-loc__map"
          ></iframe>
        </div>
      </form>
    </div>
  </div>
  <div class="backdrop-contacts-fr is-hidden">
    <div class="contacts-modal-fr">
      <button type="button" class="contacts-modal-close-fr__button">
        <img
          class="contacts-modal-fr__close-icon"
          src="./images/svg/close-menu.svg"
          alt="close"
          height="14"
          width="14"
        />
      </button>
      <p class="modal-fr__title">
        Interested in an Ice Cream Factory Franchise?
      </p>
      <form>
        <div class="cantacts-form__name">
          <div class="contacts-form">
            <label class="contacts-modal__label" for="contacts-modal-name"
              >First Name</label
            >
            <div class="contacts-form__wrap">
              <input
                type="text"
                class="contacts-form__input"
                name="Firstname"
                id="contacts-modal-name"
                placeholder=""
                required
              />
            </div>
          </div>

          <div class="contacts-form">
            <label class="contacts-modal__label" for="contacts-modal-name"
              >Last Name</label
            >
            <div class="contacts-form__wrap">
              <input
                type="text"
                class="contacts-form__input"
                name="Lastname"
                id="contacts-modal-name"
                placeholder=""
                required
              />
            </div>
          </div>
        </div>
        <div class="contacts-form__mail">
          <label class="contacts-form__mail__label" for="contacts-modal-mail"
            >Email *</label
          >
          <div class="contacts-form__wrap">
            <input
              type="email"
              class="contacts-form__input-mail"
              name="mail"
              id="contacts-modal-mail"
              placeholder=""
              required
            />
          </div>
          <p class="contacts-form__mail__text">
            Please provide the location/ zip code that you are looking at, how
            soon you would be interested, and any other relative information *
          </p>
        </div>
        <div class="contacts-form__textarea">
          <label
            class="contacts-form__textarea-label"
            for="contacts-form__user-textarea"
          ></label>
          <textarea
            class="contacts-form__textarea-form"
            name="contacts-form__user-textarea"
            id="contacts-form__user-textarea"
            placeholder=""
          ></textarea>
        </div>
        <button type="submit" class="contacts-fr__button">Submit</button>
      </form>
    </div>
  </div>
</section>
