<footer class="footer">
  <div class="container">
    <div>
      <div class="footer__left-side">
        <p class="lable">homemade ice cream made</p>
        <p class="general-header">with passion</p>
      </div>
      <div class="footer__right-side">
        <ul class="social list">
          <li class="social__item">
            <a href="" class="social__link link">
              <svg class="social__icon">
                <use href="./images/svg/socials.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="" class="social__link link"
              ><svg class="social__icon">
                <use href="./images/svg/socials.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="social__item">
            <a href="" class="social__link link"
              ><svg class="social__icon">
                <use href="./images/svg/socials.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <p class="contacts-footer">
          Feel free to contact
          <a href="tel:+610383766284" class="contacts-footer__mob-number"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <p class="copyright copyright--mb">&#169; 2022 - IceCream.</p>
    <p class="copyright">All Rights Reserved.</p>
  </div>
</footer>
