<section class="section gallery ">
    <div class="container">
        <h2 class="gallery__title hidden">Галерея</h2>
        <ul class="gallery__column column-position1">
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery1-desk.jpg 1x,
                    ./images/gallery-images/gallery1-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery1-tab.jpg 1x,
                    ./images/gallery-images/gallery1-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery1-mob.jpg 1x,
                    ./images/gallery-images/gallery1-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery1-mob.jpg" alt="Фото мороженого" class="gallery__image" />
                </picture>
            </li>
        </ul>
        <ul class="gallery__column column-position2">
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery2-desk.jpg 1x,
                    ./images/gallery-images/gallery2-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery2-tab.jpg 1x,
                    ./images/gallery-images/gallery2-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery2-mob.jpg 1x,
                    ./images/gallery-images/gallery2-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery2-mob.jpg" alt="Фото мороженого" class="gallery__image" />
                </picture>
            </li>
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery3-desk.jpg 1x,
                    ./images/gallery-images/gallery3-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery3-tab.jpg 1x,
                    ./images/gallery-images/gallery3-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery3-mob.jpg 1x,
                    ./images/gallery-images/gallery3-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery3-mob.jpg" alt="Фото мороженого" class="gallery__image" />
                </picture>
            </li>
        </ul>
        <ul class="gallery__column column-position3">
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery4-desk.jpg 1x,
                    ./images/gallery-images/gallery4-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery4-tab.jpg 1x,
                    ./images/gallery-images/gallery4-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery4-mob.jpg 1x,
                    ./images/gallery-images/gallery4-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery4-mob.jpg" alt="Фото мороженого" class=" gallery__image" />
                </picture>
            </li>
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery6-desk.jpg 1x,
                    ./images/gallery-images/gallery6-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery6-tab.jpg 1x,
                    ./images/gallery-images/gallery6-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery6-mob.jpg 1x,
                    ./images/gallery-images/gallery6-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery5-mob.jpg" alt="Фото мороженого" class="gallery__image" />
                </picture>
            </li>
        </ul>
        <ul class="gallery__column column-position4">
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery6-desk.jpg 1x,
                    ./images/gallery-images/gallery6-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery6-tab.jpg 1x,
                    ./images/gallery-images/gallery6-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery6-mob.jpg 1x,
                    ./images/gallery-images/gallery6-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery6-mob.jpg" alt="Фото мороженого" class="gallery__image" />
                </picture>
            </li>
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery7-desk.jpg 1x,
                    ./images/gallery-images/gallery7-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery7-tab.jpg 1x,
                    ./images/gallery-images/gallery7-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery7-mob.jpg 1x,
                    ./images/gallery-images/gallery7-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery7-mob.jpg" alt="Фото мороженого" class="gallery__image" />
                </picture>
            </li>
        </ul>
        <ul class="gallery__column column-position5">
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery8-desk.jpg 1x,
                    ./images/gallery-images/gallery8-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery8-tab.jpg 1x,
                    ./images/gallery-images/gallery8-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery8-mob.jpg 1x,
                    ./images/gallery-images/gallery8-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery8-mob.jpg" alt="Фото мороженого" class="gallery__image" />
                </picture>
            </li>
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery9-desk.jpg 1x,
                    ./images/gallery-images/gallery9-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery9-tab.jpg 1x,
                    ./images/gallery-images/gallery9-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery9-mob.jpg 1x,
                    ./images/gallery-images/gallery9-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery9-mob.jpg" alt="Фото мороженого" class="gallery__image" />
                </picture>
            </li>
        </ul>
        <ul class="gallery__column column-position6">
            <li class="gallery__item">
                <picture>
                    <sourse srcset="
                    ./images/gallery-images/gallery10-desk.jpg 1x,
                    ./images/gallery-images/gallery10-desk@2x.jpg 2x
                  " media="(min-width: 1200px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery10-tab.jpg 1x,
                    ./images/gallery-images/gallery10-tab@2x.jpg 2x
                  " media="(min-width: 768px)" />
                    <sourse srcset="
                    ./images/gallery-images/gallery10-mob.jpg 1x,
                    ./images/gallery-images/gallery10-mob@2x.jpg 2x
                  " media="(min-width: 320px)" />
                    <img src="./images/gallery-images/gallery10-mob.jpg" alt="Фото мороженого" class="gallery__image" />
                </picture>
            </li>
        </ul>
    </div>
</section>