<section class="section gallery ">
    <div class="container">
        <h2 class="gallery__title hidden">Галерея</h2>
        <div class="gallery__block">
            <ul class="gallery__column column-position1">
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery1-mob.jpg 1x,
                    ./images/gallery-images/gallery1-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery1-mob.jpg" alt="Фото мороженого" width="50" height="50"
                        class="gallery__image" />
                </li>
            </ul>
            <ul class="gallery__column column-position2">
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery2-mob.jpg 1x,
                    ./images/gallery-images/gallery2-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery2-mob.jpg" alt="Фото мороженого" width="50" height="50"
                        class="gallery__image" />
                </li>
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery3-mob.jpg 1x,
                    ./images/gallery-images/gallery3-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery3-mob.jpg" alt="Фото мороженого" width="50" height="50"
                        class="gallery__image" />
                </li>
            </ul>
            <ul class="gallery__column column-position3">
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery4-mob.jpg 1x,
                    ./images/gallery-images/gallery4-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery4-mob.jpg" alt="Фото мороженого" width="105" height="105"
                        class=" gallery__image" />
                </li>
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery5-mob.jpg 1x,
                    ./images/gallery-images/gallery5-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery5-mob.jpg" alt="Фото мороженого" width="44" height="44"
                        class="gallery__image" />
                </li>
            </ul>
            <ul class="gallery__column column-position4">
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery6-mob.jpg 1x,
                    ./images/gallery-images/gallery6-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery6-mob.jpg" alt="Фото мороженого" width="50" height="50"
                        class="gallery__image" />
                </li>
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery7-mob.jpg 1x,
                    ./images/gallery-images/gallery7-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery7-mob.jpg" alt="Фото мороженого" width="50" height="50"
                        class="gallery__image" />
                </li>
            </ul>
            <ul class="gallery__column column-position5">
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery8-mob.jpg 1x,
                    ./images/gallery-images/gallery8-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery8-mob.jpg" alt="Фото мороженого" width="50" height="50"
                        class="gallery__image" />
                </li>
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery9-mob.jpg 1x,
                    ./images/gallery-images/gallery9-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery9-mob.jpg" alt="Фото мороженого" width="50" height="50"
                        class="gallery__image" />
                </li>
            </ul>
            <ul class="gallery__column column-position6">
                <li class="gallery__item">
                    <img srcset="
                    ./images/gallery-images/gallery10-mob.jpg 1x,
                    ./images/gallery-images/gallery10-mob@2x.jpg 2x
                  " src="./images/gallery-images/gallery10-mob.jpg" alt="Фото мороженого" width="50" height="50"
                        class="gallery__image" />
                </li>
            </ul>
        </div>
    </div>
</section>