<header class="header">
  <div class="container">
    <img class="header__logo" src="./images/svg/logo.svg" alt="Company logo" />

    <nav class="header__nav">
      <ul class="header__list list">
        <li class="header__item">
          <a href="./index.html" class="header__link link header__link--accent"
            >Home</a
          >
        </li>
        <li class="header__item">
          <a href="#advantages" class="header__link link">About us</a>
        </li>
        <li class="header__item">
          <a href="#about" class="header__link link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="#products" class="header__link link">Our products</a>
        </li>
        <li class="header__item">
          <a href="#contacts" class="header__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header-menu__button" type="button">
      <img src="./images/svg/Burger.svg" alt="burger icon" />
    </button>
    <div class="hide-mob">
      <button class="modal-button-header modal-open" type="button">
        Buy now
        <div class="icon-conatiner"></div>
      </button>
    </div>
  </div>

  <div class="mob-menu mob-menu--hide">
    <button class="menu-close-btn" type="button"></button>
    <div class="mob-menu-container">
      <button class="modal-open-mob" type="button">
        Buy now
        <div class="mob-icon-conatiner"></div>
      </button>
      <ul class="mob-menu__list list">
        <li class="mob-menu__item">
          <a
            href="./index.html"
            class="mob-menu__link link mob-menu__link--accent"
            >Home</a
          >
        </li>
        <li class="mob-menu__item">
          <a href="#advantages" class="mob-menu__link link">About us</a>
        </li>
        <li class="mob-menu__item">
          <a href="#about" class="mob-menu__link link">How it’s made?</a>
        </li>
        <li class="mob-menu__item">
          <a href="#products" class="mob-menu__link link">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a href="#contacts" class="mob-menu__link link">Contact</a>
        </li>
      </ul>
    </div>
    <div class="cow-feature"></div>
  </div>
</header>
