<header class="header">
  <div class="container">
    <!-- <img
      class="header__logo"
      src="/src/images/svg/logo.svg"
      alt="Company logo"
    /> -->

    <nav class="header__nav">
      <ul class="header__list list">
        <li class="header__item">
          <a href="" class="header__link link header__link--accent">Home</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link link">About us</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link link">How it’s made?</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link link">Our products</a>
        </li>
        <li class="header__item">
          <a href="" class="header__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header-menu__button" type="button">
      <img src="./images/svg/Burger.svg" alt="burger icon" />
    </button>
    <div class="hide-mob">
      <button class="modal-button" type="button">
        Buy now
        <div class="icon-conatiner">
          <!-- <img
            class="modal-button__icon"
            src="/src/images/svg/continiue.svg"
            alt="arrow"
            width="4"
            h="8"
          /> -->
        </div>
      </button>
    </div>
  </div>
</header>

<div class="mob-menu hidden">
  <button class="menu-close-btn">
    <img
      class="menu-close-icon"
      src="./images/svg/close-menu.svg"
      alt="close"
      height="14"
      width="14"
    />
  </button>
  <div class="mob-menu-container">
    <button class="modal-button" type="button">
      Buy now
      <div class="icon-conatiner">
        <!-- <img
          class="modal-button__icon"
          src="/src/images/svg/continiue.svg"
          alt="arrow"
          width="6"
          h="8"
        /> -->
      </div>
    </button>
    <ul class="mob-menu__list list">
      <li class="mob-menu__item">
        <a href="" class="mob-menu__link link mob-menu__link--accent">Home</a>
      </li>
      <li class="mob-menu__item">
        <a href="" class="mob-menu__link link">About us</a>
      </li>
      <li class="mob-menu__item">
        <a href="" class="mob-menu__link link">How it’s made?</a>
      </li>
      <li class="mob-menu__item">
        <a href="" class="mob-menu__link link">Our products</a>
      </li>
      <li class="mob-menu__item">
        <a href="" class="mob-menu__link link">Contact</a>
      </li>
    </ul>
  </div>
</div>
