<section class="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">
        <span class="hero-title__top">ice cream made with</span>
        <span class="hero-title__bottom">passion</span>
      </h1>
      <div class="hero-button">
        <a href="#products" class="hero-button__content link">Products</a>
        <a href="#about" class="hero-button__ready link">How it’s made?</a>
      </div>
    </div>

    <div class="hero-title__content">
      <p class="hero-title__content--title">16</p>
      <p class="hero-title__content--text">cafes</p>
    </div>

    <div class="hero-title__container">
      <p class="hero-title__content--title">23</p>
      <p class="hero-title__content--text">food trucks</p>
    </div>

    <div class="background-round"></div>
    <div class="milk-bucket">
      <div class="modal-eco-milk is-hidden">
        <span
          ><span class="modal-eco-milk-text-upper red-accent">Organic </span
          >milk refers to a number of milk products from livestock raised
          according to organic farming methods.</span
        >
        <p class="modal-eco-milk-text">
          In most jurisdictions, use of the term "organic" or equivalents like
          <span class="modal-eco-milk-text-upper white-accent"> "bio" </span
          >or<span class="modal-eco-milk-text-upper white-accent"> "eco"</span>,
          on any product is regulated by food authorities
        </p>
        <!-- <button type="button" class="close-modal-eco-milk"></button> -->
      </div>
      <picture>
        <source
          srcset="
            ./images/hero-images/hero-milk-desk.png    1x,
            ./images/hero-images/hero-milk-desk@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/hero-images/hero-milk-tab.png    1x,
            ./images/hero-images/hero-milk-tab@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <img src="./images/hero-images/hero-milk-desk.png" alt="milk" />
      </picture>
      <div class="milk-bucket__descr">
        <p class="milk-bucket__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="milk-bucket__button">
          <svg class="milk-bucket__icon-arrow">
            <use href="./images/svg/arrow-right.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="licking-lady">
      <picture>
        <source
          srcset="
            ./images/hero-images/hero-lady-desk.png    1x,
            ./images/hero-images/hero-lady-desk@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/hero-images/hero-lady-tab.png    1x,
            ./images/hero-images/hero-lady-tab@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <img src="./images/hero-images/hero-lady-tab.png" alt="lady" />
      </picture>
    </div>
  </div>
</section>
