<section class="section about__product">
    <div class="container">
        <p class="about">TRADITIONAL AND LOVE</p>
        <h1 class="about-product__name">HOW IT'S MADE?</h1>
        <div class="about-list">
<div class="about-picture">
    <picture class="product__picture">
                        <source 
                srcset="./images/about-images/about-milk-mob.png 1x,
                ./images/about-images/about-milk-mob@2x.png 2x" max-width="280"
                media="(max-width: 767px)" />
                
                 <source 
                        srcset="
                        ./images/about-images/about-milk-desk.png 1x,
                ./images/about-images/about-milk-desk@2x.png 2x" width="270" 
                media="(min-width:1200px)"
                />
                <source
                 srcset="
                 ./images/about-images/about-milk-tab.png 1x, 
                ./images/about-images/about-milk-tab@2x.png 2x" width="336"
                media="(min-width: 768px)"/>
            
                <img
                 src="./images/about-images/about-milk-mob.png" alt="корова"  />
                    </picture>
                    </div>
                    
            <div class="about--milk">
                    <p class="about-item">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo <br> <span class="about-text"> fringilla. </span></p>

               <picture class="about__picture--milk">
                        <source 
                srcset="./images/about-images/about-bgmilk-mob.png 1x,
                ./images/about-images/about-bgmilk-mob@2x.png 2x" max-width="280"
                media="(max-width: 767px)" />
                
                 <source 
                        srcset="
                        ./images/about-images/about-bgmilk-desk.png 1x,
                ./images/about-images/about-bgmilk-desk.png 2x" width="270" 
                media="(min-width:1200px)"
                />
            
                <img
                 src="./images/about-images/about-bgmilk-mob.png" alt=" "  />
                    </picture> 
                    

<p class="about--product">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                    
<p class="about--product production"> Aliquam erat volutpat. Aenean  accumsan.</p>
<button type="button" class="button-about">Read more <img class="about__icon" src="./images/svg/continiue.svg" alt=" " width="5" height="8">
        </button>
      </div> 
</div>
    </div>
   

</section>