<section class="section about__product">
    <div class="container">
        <p class="about">TRADITIONAL AND LOVE</p>
        <h1 class="about-product__name">HOW IT'S MADE?</h1>
<div class="about-picture">
    <picture class="product__picture">
                        <source 
                srcset="./images/about-images/about-milk-mob.png 1x,
                ./images/about-images/about-milk-mob@2x.png 2x" max-width="280"
                media="(max-width: 767px)" />
                
                 <source 
                        srcset="
                        ./images/about-images/about-milk-desk.png 1x,
                ./images/about-images/about-milk-desk@2x.png 2x" width="270" 
                media="(min-width:1200px)"
                />
                <source
                 srcset="
                 ./images/about-images/about-milk-tab.png 1x, 
                ./images/about-images/about-milk-tab@2x.png 2x" width="336"
                media="(min-width: 768px)"/>
            
                <img
                 src="./images/about-images/about-milk-mob.png" alt="корова"  />
                    </picture>
                    </div>
                    
            <div class="about--milk">
                    <p class="about-item">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo <br> <span class="about-text"> fringilla. </span></p>

               <picture class="about__picture--milk">
                        <source 
                srcset="./images/about-images/about-bgmilk-mob.png 1x,
                ./images/about-images/about-bgmilk-mob@2x.png 2x" max-width="280"
                media="(max-width: 767px)" />
                
                 <source 
                        srcset="
                        ./images/about-images/about-bgmilk-desk.png 1x,
                ./images/about-images/about-bgmilk-desk.png 2x" width="270" 
                media="(min-width:1200px)"
                />
            
                <img
                 src="./images/about-images/about-bgmilk-mob.png" alt=" "  />
                    </picture> 
                    

<p class="about--product">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                    
<p class="about--product production"> Aliquam erat volutpat. Aenean  accumsan.</p>
<button type="button" class="button-about menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="about-menu">Read more <img class="about__icon" src="./images/svg/continiue.svg" alt=" " width="5" height="8">
        </button>
       <div class="about-menu js-about-menu is-open" id="about-menu" >
    <div class="container__about">
    <button type="button" class="menu-toggle js-close-menu" >
        <svg class="" width="40" height="40">
                </svg>
</button>
<h2 class="modal__text">How We Make Ice Cream</h2>
<img src="./images/products-images/product1-mob@2x.png" class="about-modul__picture" alt="" width="290" height="290">
        <p class="modal-about__text">It all starts, of course, with the cow.</p>
<p class="modal-about__text">The trucks arrive at the factory, the milk and cream are pumped into four 6,000-gallon storage silos, and kept cool at 36 degrees until we’re ready to convert them.</p>
<p class="modal-about__text">In the overall ice cream production scheme of things, making the mix – and making it most excellent – is perhaps the most important part of the whole process. After ice cream mix is blended, it’s ready to be pasteurised and homogenised.  We take our flavours – and our flavouring techniques – very seriously. Once the proper amount of flavouring is added, the mix is pumped to the Freezer. </p>

<p class="modal-about__text">After freezing the mix to a nice and creamy 22 degrees, we have a choice: if we’re just making chunkless flavours, like Vanilla or Chocolate,  the ice cream is pumped directly to the pint-filling machinery, but if we’re making chunky flavours, the ice cream takes a turn through the Fruit Feeder. The fancy word for "swirl" is "variegate,"  and whether it’s fudge, caramel, peanut butter, marshmallow, or fruit, we always use the finest & fanciest variegates we can find. After the chunks and the swirls are added, the ice cream’s ready for dispensing into pint containers.</p>
<p class="modal-about__text">Before the packaged ice cream can be stored or shipped, it needs to be frozen further – from its semi-frozen temperature of 22 degrees above zero, to a fully-frozen-solid state of at least 10 degrees below zero. After the pints are frozen solid we wrap them for shipment. Meanwhile, back in the Quality Assurance Lab, our QA folks are absolute fanatics when it comes to ensuring every flavour of ice cream meets our strict standards of product excellence. Our definition of "everywhere" keeps growing more and more everywhere every year!</p>
<figure class="about-video-wrapper" style="max-width:640px">
	
<div class="about-video-wrapper"><iframe title="youtube-video" class="cqYT" src="//www.youtube-nocookie.com/embed/zej-P-MOrJs" wframeborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" id="fitvid361769"></iframe></div>
		
</figure>
</div>
</div>
<script src="./index.js"></script>
    </div>
   

</section>