<section class="section about__product" id="about">
  <div class="container container-about">
    <p class="about">TRADITIONAL AND LOVE</p>
    <h2 class="about-product__name">HOW IT'S MADE?</h2>
    <div class="about-list">
      <div class="about-picture">
        <picture class="product__picture swing">
          <source
            srcset="
              ./images/about-images/about-milk-mob.png    1x,
              ./images/about-images/about-milk-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />

          <source
            srcset="
              ./images/about-images/about-milk-desk.png    1x,
              ./images/about-images/about-milk-desk@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/about-images/about-milk-tab.png    1x,
              ./images/about-images/about-milk-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="./images/about-images/about-milk-mob.png" alt="корова" />
        </picture>
      </div>

      <div class="about--milk">
        <p class="about-item">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo
          <span class="about-text"> fringilla. </span>
        </p>

        <p class="about--product">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>

        <p class="about--product production">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="button-about-open">
          Read more
          <img
            class="about__icon"
            src="./images/svg/continiue.svg"
            alt="x"
            width="5"
            height="8"
          />
        </button>
        <div class="about-menu its-hidden">
          <div class="container-menu">
            <button type="button" class="js-close-button">
              <img
                class="js-icon--about"
                src="./images/svg/close-menu.svg"
                alt="x"
              />
            </button>
            <h2 class="modal__text">How We Make Ice Cream</h2>

            <p class="modal-about__text">
              It all starts, of course, with the cow. In the overall ice cream
              production scheme of things, making the mix – and making it most
              excellent – is perhaps the most important part of the whole
              process. We take our flavours – and our flavouring techniques –
              very seriously.
            </p>
            <p class="modal-about__text">
              After freezing the mix to a nice and creamy 22 degrees, we have a
              choice: if we’re just making chunkless flavours, like Vanilla or
              Chocolate, the ice cream is pumped directly to the pint-filling
              machinery, but if we’re making chunky flavours, the ice cream
              takes a turn through the Fruit Feeder. After the chunks and the
              swirls are added, the ice cream’s ready for dispensing into pint
              containers.
            </p>
            <p class="modal-about__text">
              After the pints are frozen solid we wrap them for shipment. Our
              definition of "everywhere" keeps growing more and more everywhere
              every year!
            </p>
            <figure class="about-video-wrapper" >
              <div class="about-video-wrappers">
                <iframe
                  title="youtube-video"
                  class="cqYT"
                  src="//www.youtube-nocookie.com/embed/zej-P-MOrJs"
                  wframeborder="0"
                  webkitallowfullscreen="true"
                  mozallowfullscreen="true"
                  allowfullscreen="true"
                  id="fitvid361769"
                ></iframe>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
