<section id="products"  class="container">
    <p class="title__above-products">100% natural</p>
    <h2 class="title-h__products">products</h2>
    <ul class="list__products ">
        <li class="item__products ">
            <article class="card__products">
                <!--<img src="./src/images/products-images/product1-mob.png" alt="" width="">-->
                <h3 class="title__products">ice cream</h3>
                <!-- <div class="decor-dots__products" >
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>-->
                <p class="text__products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button data-modal-open type="button" class="btn__products"> 
                <svg class="btn-products__icon" width="15" height="15">
                    <use href="./images/svg/arrow-right.svg#icon-arrow-right2"></use>
                    </svg>
            </button>
            </article>
        </li>
        <li class="item__products ">
            <article class="card__products">
            <!--<img src="./src/images/products-images/product2-mob.png" alt="" width="">-->
                <h3 class="title__products">ice coffee</h3>
                <!--<div class="decor-dots__products" >
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>-->
                <p class="text__products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="btn__products">
                <svg class="btn-products__icon" width="15" height="15">
                   <use href="./images/svg/arrow-right.svg#icon-arrow-right2"></use>
                    </svg>
            </button>
            </article>
        </li>
        <li class="item__products ">
            <article class="card__products">
               <!-- <img src="./src/images/products-images/product3-mob.png" alt="" width="">-->
                <h3 class="title__products">milkshakes</h3>
                 <!--<div class="decor-dots__products" >
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>-->
                <p class="text__products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="btn__products">
                <svg class="btn-products__icon" width="15" height="15">
                    <use href="./images/svg/arrow-right.svg#icon-arrow-right2"></use>
                    </svg>
            </button>
            </article>
        </li>
</section>


<!--Modal-->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
<botton type="botton" class="modal-bnt_close" data-modal-close>
            <svg class="modal-close modal-bnt_img" width="18" height="18">
            <!--<use href="./images/symbol-defs-5.svg#icon-close-black-18dp-2-1-2-1"></use>-->
        </svg>
    
</botton>

<p class="modal_title">Оставьте свои данные, мы вам перезвоним</p>
</div>