<section id="products"  class="container">
    <p class="title__above-products">100% natural</p>
    <h2 class="title-h__products">products</h2>
    <ul class="list__products ">
        <li class="item__products ">
            <article class="card__products">
                
                <h3 class="title__products">ice cream</h3>
               
                <p class="text__products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button data-modal-open type="button" class="btn__products"> 
                <svg class="btn-products__icon" width="15" height="15">
                    <use href="./images/svg/arrow-right.svg#icon-arrow-right2"></use>
                    </svg>
            </button>
            </article>
        </li>
        <li class="item__products ">
            <article class="card__products">
            
                <h3 class="title__products">ice coffee</h3>

                <p class="text__products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="btn__products">
                <svg class="btn-products__icon" width="15" height="15">
                   <use href="./images/svg/arrow-right.svg#icon-arrow-right2"></use>
                    </svg>
            </button>
            </article>
        </li>
        <li class="item__products ">
            <article class="card__products">
            
                <h3 class="title__products">milkshakes</h3>

                <p class="text__products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="btn__products">
                 <svg class="btn-products__icon" width="15" height="15">
                    <use href="./images/svg/arrow-right.svg#icon-arrow-right2"></use>
                    </svg> 
            </button>
            </article>
        </li>
</section> 


<!--Modal-->
<!--
 <div class="backdrop is-hiden" data-modal>
    <div class="modal ice-cream">
<botton type="botton" class="modal-bnt_close" data-modal-close>
            <svg class="modal-close modal-bnt_img" width="18" height="18">
            <use href="./images/svg/close-menu.svg#icon-close-black-18dp-2-1-2-1"></use>
        </svg>
    
</botton>

<p class="products-modal__title ice-cream-modal">ice-cream</p>
<video
  src="https://www.youtube.com/embed/rHVW_VqX33A"
  poster="#"
  width="320"
  controls
  autoplay
  loop
  preload="auto"
  class="ice-cream__video"
></video>        

<button class="buy__btn is-hidden" type="#">
            Buy now<svg class="icon-send" width="24" height="24">
                <use href="./images/svg/close-menu.svg#icon-close-black-18dp-2-1-2-1"></use>
            </svg>
            </button>
</div> 

<div class="backdrop is-hidden" data-modal>
    <div class="modal ice-coffee">
<botton type="botton" class="modal-bnt_close" data-modal-close>
            <svg class="modal-close modal-bnt_img" width="18" height="18">
            <use href="./images/svg/close-menu.svg#icon-close-black-18dp-2-1-2-1"></use>
        </svg>
    
</botton>

<p class="products-modal__title ice-cream-modal">ice coffee</p>
<iframe width="320" height="300" src="https://www.youtube.com/embed/96r2BFCmsXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       

<button class="buy__btn is-hidden" type="#">
            Buy now<svg class="icon-send" width="24" height="24">
                <use href="./images/svg/close-menu.svg#icon-close-black-18dp-2-1-2-1"></use>
            </svg>
            </button>
</div> -->
</div>

<div class="backdrop is-hidden" data-modal>
    <div class="modal milkshakes">
<botton type="botton" class="modal-bnt_close" data-modal-close>
            <svg class="modal-close modal-bnt_img" width="18" height="18">
            <use href="./images/svg/close-menu.svg#icon-close-black-18dp-2-1-2-1"></use>
        </svg>
    
</botton>

<p class="products-modal__title">milkshakes</p>
<iframe width="320" height="300" src="https://www.youtube.com/embed/6i5vimMVM40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<button class="buy__btn is-hidden" type="#">
            Buy now<svg class="icon-send" width="24" height="24">
                <use href="./images/svg/close-menu.svg#icon-close-black-18dp-2-1-2-1"></use>
            </svg>
            </button>
</div> 