<section class="container">
    <p class="title__above-products">100% natural</p>
    <h2 class="title__products">products</h2>
    <ul class="list__products ">
        <li class="item__products ">
            <article class="card__products">
                <!--<img src="./src/images/products-images/product1-mob.png" alt="" width="">-->
                <h3 class="titel__products">ice cream</h3>
                <div class="decor-dots__products" >
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <p class="text__products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button data-modal-open type="button" class="btn__products"> 
                <svg class="btn-products__icon" width="40" height="40">
                <!--<use href="./src/images/svg/arrow-right.svg#icon-arrow-right"></use>-->
                    </svg>
            </button>
            </article>
        </li>
        <li class="item__products ">
            <article class="card__products">
            <!--<img src="./src/images/products-images/product2-mob.png" alt="" width="">-->
                <h3 class="titel__products">ice coffee</h3>
                <div class="decor-dots__products" >
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <p class="text__products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="btn__products">
                <svg class="btn-products__icon" width="40" height="40">
                   <!-- <use href="./images/symbol-defs.svg#icon-linkedin-1"></use>-->
                    </svg>
            </button>
            </article>
        </li>
        <li class="item__products ">
            <article class="card__products">
               <!-- <img src="./src/images/products-images/product3-mob.png" alt="" width="">-->
                <h3 class="titel__products">milkshakes</h3>
                <div class="decor-dots__products" >
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <p class="text__products">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="btn__products">
                <svg class="btn-products__icon" width="40" height="40">
                   <!-- <use href="./src/images/svg/arrow-right.svg#icon-arrow-right"></use>-->
                    </svg>
            </button>
            </article>
        </li>
</section>
