<section class="reviews">
  <input type="radio" name="point" id="slide1" checked />
  <input type="radio" name="point" id="slide2" />
  <input type="radio" name="point" id="slide3" />
  <div class="slider container">
    <div class="slides slide1">
      <div class="slides__foto">
        <img
          class="slides__img"
          srcset="./images/customer-revievs-images/customer1.png x1,
                  ./images/customer-revievs-images/customer1@2x.png "
          src="./images/customer-revievs-images/customer1.png"
          alt="Emily, Los Angeles"
          width="85px"
          height="85px"
        />
      </div>
      <div class="slides__bgr">
        <div class="text-bdr">
          <p class="slides__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div class="slides__title">
        <h3 class="slides__name">Emily, Los Angeles</h3>
      </div>
    </div>
    <div class="slides slide2">
      <div class="slides__foto">
        <img
          class="slides__img"
          srcset="./images/customer-revievs-images/customer2.png x1,
             ./images/customer-revievs-images/customer2@2x.png "
          src="./images/customer-revievs-images/customer2.png"
          alt="Emily, Los Angeles"
          width="85px"
          height="85px"
        />
      </div>
      <div class="slides__bgr">
        <p class="slides__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="slides__title">
        <h3 class="slides__name">Emily, Los Angeles</h3>
      </div>
    </div>
    <div class="slides slide3">
      <div class="slides__foto">
        <img
          class="slides__img"
          srcset="./images/customer-revievs-images/customer3.png x1,
             ./images/customer-revievs-images/customer3@2x.png "
          src="./images/customer-revievs-images/customer3.png"
          alt="Emily, Los Angeles"
          width="85px"
          height="85px"
        />
      </div>
      <div class="slides__bgr">
        <p class="slides__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>
      <div class="slides__title">
        <h3 class="slides__name">Emily, Los Angeles</h3>
      </div>
    </div>
  </div>
  <div class="controls">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
  </div>
</section>
