.backdrop-buynow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-animation);
    z-index: 998;
  }
  
  .backdrop.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .modal-buynow {
    min-width: 320px;
    height: 100%;
    background-image: url(/src/images/about-images/about-bgmilk-desk.png);
    background-color: var(--secondary-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: visible;
    border-radius: 24px;
    padding: 40px;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    transition: transform 500ms var(--timing-animation), opacity 500ms var(--timing-animation);
    // transform: translate(-50%, -50%);
    // transition: transform 250ms var(--timing-animation),
    //     opacity 250ms var(--timing-animation);
  
    // .backdrop.hidden & {
    //   transform: translate(-50%, -50%) scale(0.75);
    //   opacity: 0;

    // }
    
        .backdrop.hidden & {
            transform: translate(-50%, -50%);
            opacity: 0;
    visibility: hidden;
        }
  
    @media screen and (min-width: 720px) {
    max-height: 800px;
    }
}
  
  .close-modal-button-buynow {
    position: absolute;
    top: 8px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    transform: rotate(-100);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8e9ed;
    transition: 250ms transform var(--timing-animation);
  
    &:hover, &:focus {
            transform: rotate(100);
      }
  }
  
  .link-icon-close {
    width: 16px;
    height: 16px;
    // stroke: var(--accent-color);
    transform: rotate(0deg);
    transition: 250ms transform var(--timing-animation);
    display: flex;
  
    &:hover,
      &:focus {
        // stroke: var(--round-color);
        transform: rotate(180deg);
      }
  }
  
  .modal-title-buynow {
    font-family: 'Titan One';
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--accent-color);
  
    @include desktop {
        line-height: calc(23 / 20);
    }
  }

.product-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .ice-check {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: var(--secondary-text-color);
    transition: 250ms fill var(--timing-animation);

    &:hover .checkborder {
            opacity: 1;
        }

    @media screen and (max-width: 720px) {
        font-size: smaller;
    }
}


.checkborder {
    border: 3px solid var(--round-color);
    border-radius: 10%;
    display: block;
    width: 90px;
    height: 130px;
    position: absolute;
    top: -5;
    z-index: 999;
    opacity: 0;

    @media screen and (max-width: 680px) {
    width: 75px;
    height: 110px;
    top: -8;
    }

}


.check:checked+.checkborder {
    opacity: 1;
}


  .delivery {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px 19px #ffffff;;
    padding: 10px 10px;
    margin: 30px 0;

  }

  .delivery-list {
    margin-right: 30px;
    margin-left: 0px;
  }

  .delivery-menu {
    display: flex;
    align-items: center;

    &:not(:last-child) {
            margin-bottom: 10px;
        }
  }

  .cow, .courier, .helicopter {
    color: var(--round-color);

    &:hover, &:focus {
        color: var(--accent-color);
    }

  }

  .cow-pic, .courier-pic, .helicopter-pic {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 30%;

    transition: transform 250ms var(--timing-animation);
  }

    .cow:hover:before {
        content: "";
        background-image: url(/src/images/buy-now/cow.jpg);
        position: absolute;
        display: block;
        height: 120%;
        width: 100%;
        top: 0;
        left: 150;
        background-repeat: no-repeat;

            @media screen and (min-width: 720px) {
                    left: 200;
                }
    }

    .cow:focus:before {
    content: "";
        background-image: url(/src/images/buy-now/cow.jpg);
        position: absolute;
        display: block;
        height: 120%;
        width: 100%;
        top: 0;
        left: 150;
        background-repeat: no-repeat;
    
        @media screen and (min-width: 720px) {
            left: 200;
        }
    }

        .courier:hover:before {
            content: "";
            background-image: url(/src/images/buy-now/courier.jpg);
            position: absolute;
            display: block;
            height: 130%;
            width: 100%;
            top: 0;
            left: 150;
            background-repeat: no-repeat;

            @media screen and (min-width: 720px) {
            left: 200;    
            }
        }

                .courier:focus:before {
                    content: "";
                    background-image: url(/src/images/buy-now/cow.jpg);
                    position: absolute;
                    display: block;
                    height: 120%;
                    width: 100%;
                    top: 0;
                    left: 150;
                    background-repeat: no-repeat;
        
                    @media screen and (min-width: 720px) {
                        left: 200;
                    }
                }

        .helicopter:hover:before,
                .helicopter:focus:before {
            content: "";
            background-image: url(/src/images/buy-now/helicopter.jpg);
            position: absolute;
            display: block;
            height: 120%;
            width: 100%;
            top: 0;
            left: 150;
            background-repeat: no-repeat;

            @media screen and (min-width: 720px) {
            left: 200;    
            }
        }

        .helicopter:focus:before {
            content: "";
            background-image: url(/src/images/buy-now/cow.jpg);
            position: absolute;
            display: block;
            height: 120%;
            width: 100%;
            top: 0;
            left: 150;
            background-repeat: no-repeat;
    
            @media screen and (min-width: 720px) {
                left: 200;
            }
        }
  

.radio_input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    // z-index: -1;
}

.custom-radio-btn {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 5px;
     
}

.custom-radio-btn::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(/src/images/header-img/header-logo-pic.png);
    background-repeat: no-repeat;
    border-radius: 50%;
    /* Выравниваем по центру относительно внешнего круга */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 0.2s ease-in;
}

    .radio_input:checked+.custom-radio-btn::before {
        transform: translate(-50%, -50%) scale(1);
    }

  .modal-form-buynow {
    width: 100%;
    margin-top: 12px;
  }
  
  .modal-input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms border-color var(--timing-animation);
    outline: transparent;
    padding-left: 10px;
  
    &:hover,
      &:focus {
        border-color: var(--accent-color);
        fill: var(--accent-color);
      }
  }
  
  .modal-wrap {
    position: relative;
  }
  
  .modal-field {
    margin-bottom: 10px;
  }
  
  .form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: 250ms fill var(--timing-animation);
  
    .modal-input:hover+&,
      .modal-input:focus+& {
        fill: var(--accent-color);
      }
  }
  
  .modal-input-comment {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    left: 576px;
    top: 518px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid transparent;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 250ms border-color var(--timing-animation);
    outline: transparent;
    resize: none;
    padding: 12px 16px;
  
    &::placeholder {
        position: absolute;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
      }
  
      &:hover,
      &:focus {
        border-color: var(--accent-color);
        fill: var(--accent-color);
      }
  }
  

  .modal-button {
    font-family: 'Titan One';
    font-size: 16px;
    font-weight: 700;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 200px;
    height: 50px;
    background-color: var(--background-color);
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    display: block;
    text-align: center;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: width 250ms var(--timing-animation),
      height 250ms var(--timing-animation);
  
      &:hover {
          width: 203px;
          height: 51px;
            color: var(--accent-color);
        }
  }
  
  
  
  .modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    display: block;
    margin-bottom: 4px;
  }
