.backdrop-buynow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-animation);
  }
  
//   .backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
//   }
  
  .modal-buynow {
    min-width: 320px;
    height: 100%;
    background-image: url(/src/images/about-images/about-bgmilk-desk.png);
    background-color: var(--secondary-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
    transition: transform 250ms var(--timing-animation),
      opacity 250ms var(--timing-animation), scale 250ms var(--timing-animation);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    overflow-y: scroll;
    z-index: 0;
  
    // .backdrop.is-hidden & {
    //   transform: translate(-50%, -50%) scale(1.2);
    //   opacity: 0;
    //   visibility: hidden;
    // }
  
    @include desktop {
    width: 528px;
      min-height: 581px;
    }
  }
  
  .close-modal-button-buynow {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid transparent;
    transform: rotate(-100);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--round-color);
    transition: 250ms transform var(--timing-animation);
  
    &:hover, &:focus {
            transform: rotate(100);
      }
  }
  
  .link-icon-close {
    width: 20px;
    height: 20px;
    stroke: var(--accent-color);
    transform: rotate(0deg);
    transition: 250ms fill var(--timing-animation),
    250ms transform var(--timing-animation);
    display: flex;
  
    &:hover,
      &:focus {
        stroke: var(--round-color);
        transform: rotate(180deg);
      }
  }
  
  .modal-title-buynow {
    font-family: 'Titan One';
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--accent-color);
  
    @include desktop {
        line-height: calc(23 / 20);
    }
  }

.product-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .ice-check {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid transparent;
    border-radius: 10%;
    color: var(--secondary-text-color);
    transition: 250ms fill var(--timing-animation);

    &:hover, &:focus-within {
    border: 3px solid var(--round-color);
    }
    .check:checked ~ & {
    border: 3px solid var(--accent-color);
    }

    @media screen and (max-width: 720px) {
        font-size: smaller;
    }
}

  .delivery {
    margin: 30px 0;
    position: relative;
  }

  .delivery-list {
    margin-right: 30px;
    margin-left: 0px;
  }

  .delivery-menu {
    display: flex;
    align-items: center;

    &:not(:last-child) {
            margin-bottom: 10px;
        }
  }



  .cow-pic, .courier-pic, .helicopter-pic {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 30%;
    // transform: scale(0%);
    opacity: 0;
    transition: transform 250ms var(--timing-animation);
  }

  .cow:hover .cow-pic {
    // transform: scale(100%);
    opacity: 1;
  }

  .helicopter:hover > .helicopter-pic {
    opacity: 1;
  }

.radio_input {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.custom-radio-btn {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 5px;
  
    
    // .radio_input:checked + .radio-label:checked +&:checked {
    //     display: inline-block;
    //     color: var(--accent-color);
    //     background-image: url(/src/images/header-img/header-logo-pic.png);
    // }
}

.custom-radio-btn::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #a3a4a7;
    border-radius: 50%;
    /* Выравниваем по центру относительно внешнего круга */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 0.2s ease-in;
}

.radio_input:checked+.custom-radio-btn::before {
    transform: translate(-50%, -50%) scale(1);
}

.radio_label {
    cursor: pointer;
    color: var(--secondary-text-color);
    &:hover {
        color: var(--accent-color);
    }
}

  .modal-form-buynow {
    width: 100%;
    margin-top: 12px;
  }
  
  .modal-input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms border-color var(--timing-animation);
    outline: transparent;
    padding-left: 42px;
  
    &:hover,
      &:focus {
        border-color: var(--accent-color);
        fill: var(--accent-color);
      }
  }
  
  .modal-wrap {
    position: relative;
  }
  
  .modal-field {
    margin-bottom: 10px;
  }
  
  .form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: 250ms fill var(--timing-animation);
  
    .modal-input:hover+&,
      .modal-input:focus+& {
        fill: var(--accent-color);
      }
  }
  
  .modal-input-comment {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    left: 576px;
    top: 518px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid transparent;
    border-color: rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    transition: 250ms border-color var(--timing-animation);
    outline: transparent;
    resize: none;
    padding: 12px 16px;
  
    &::placeholder {
        position: absolute;
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
      }
  
      &:hover,
      &:focus {
        border-color: var(--accent-color);
        fill: var(--accent-color);
      }
  }
  
//   .policy {
//     font-weight: 400;
//     font-size: 12px;
//     line-height: calc(14/12);
  
//     letter-spacing: 0.03em;
//     color: #757575;
//     margin-bottom: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
  
//     @include desktop {
//       font-size: 14px;
//       line-height: calc(24 / 14);
//     }
//   }
  
//   .check-icon {
//     fill: transparent;
//   }
  
//   .policy span {
//     width: 16px;
//     height: 15px;
//     border: 2px solid #212121;
//     border-radius: 3px;
//     margin-right: 9px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
  
//     .modal-check:checked+& {
//         background-color: var(--accent-color);
//         border: none;
//       }
//   }
  
//   .modal-check:checked + .policy .check-icon {
//     fill: #ffffff;
//   }
  
  /* 
  .policy::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 9px;
  } */
  
  /* .modal-check:checked + .policy::before {
    background-color: var(--second-text-color);
  } */
  
  .modal-button {
    font-family: 'Titan One';
    font-size: 16px;
    font-weight: 700;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 200px;
    height: 50px;
    background-color: var(--background-color);
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    display: block;
    text-align: center;
    margin: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: width 250ms var(--timing-animation),
      height 250ms var(--timing-animation);
  
      &:hover {
          width: 203px;
          height: 51px;
            color: var(--accent-color);
        }
  }
  
  
  
  .modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    display: block;
    margin-bottom: 4px;
  }
  
  .modal-policy-link {
    text-decoration-line: underline;
    color: #2196f3;
    margin-left: 4px;
  }