.gallery {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: linear-gradient(to bottom,
            #FFF5F6 34%,
            #FFFFFF 34%,
        );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        @include tablet {
        background-image: linear-gradient(to bottom,
                #FFF5F6 55%,
                #FFFFFF 55%,
            );
        }
        @include desktop {
        background-image: linear-gradient(to bottom,
                #FFF5F6 35%,
                #FFFFFF 35%,
            );
        }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }
}

.gallery__column {
    display: inline-block;
    list-style: none;
    justify-content: center;
    margin-right: 0.75%;
        @include tablet {
            min-width: 110px;
            // min-height: 581px;
        }
        @include desktop {
            min-width: 148px;
            // min-height: 581px;
        }
}

.column-position1 {
    .gallery__item:last-child {
        padding-bottom: 4%;
    }
}

.column-position2 {
    .gallery__item:first-child{
        padding-top: 22%;
        margin-bottom: 4%;
    }
}

.column-position3 {
    .gallery__item:last-child {
        max-width: 50%;
        margin-top: 2%;
    }
}

.column-position4 {
    .gallery__item:first-child{
        padding-top: 36%;
        margin-bottom: 4%;
    }
}

.column-position5 {
    .gallery__item:last-child{
        padding-bottom: 25%;
        margin-top: 4%;
    }
}

.column-position6 {
    .gallery__item:first-child{
        padding-top: 12%;
    }
}

.gallery__image {
    max-width: 100%;
    border-radius: 8px;
}