html{
    scroll-behavior: smooth ;
}

.header {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    font-weight: 700;
    z-index: 5;
    // background-color: pink;

    @include tablet{
        margin-top: 32px;
    }

    @include desktop{
        margin-top: 37px;
    }

    .container {
        display: flex;
        margin: 0 auto;
        align-items: center;

    }
}

.header__logo {

    @include desktop {
        margin-right: 128px;
    }

}


.header__nav {
    display: none;

    @include desktop {
        display: block;
    }
}

.header__list {
    display: flex;
    gap: 35px;
}

.header__link {
    font-size: 16px;
    line-height: calc(21 / 16);
    color: var(--light-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header__link--accent {
    color: var(--accent-color);
}


.header-menu__button {
    display: block;
    background-color: transparent;
    background-image: url("../images/svg/Burger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 12px;
    margin-left: auto;

    transition: all var(--timing-animation) 1000ms;

    @include tablet {}

    @include desktop {
        display: none;
    }
}

.modal-button-header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 210px;

    margin-right: auto;
    margin-left: auto;
    padding-left: 37px;
    padding-right: 37px;
    height: 44px;
    border-radius: 22px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
    text-align: center;

    color: var(--accent-color);
    background-color: var(--main-bg-color);

    &:hover,
    &:focus {
        background-color: #ECEBEB;
        transform: scale(1.02);
    }

    @include tablet {
        display: flex;
        margin-left: 32px;
        width: 160px;
    }

    &::after{
        content: '';
        margin-left: 12px;
            background-image: url("../images/svg/continiue.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: 4px;
            height: 8px;
            transform: translateY(2px);
    }

    
}

.modal-open-mob{
    display: flex;
        align-items: center;
        justify-content: center;
    
        width: 210px;
    
        margin-right: auto;
        margin-left: auto;
        padding-left: 37px;
        padding-right: 37px;
        height: 44px;
        border-radius: 22px;
    
        font-weight: 700;
        font-size: 16px;
        line-height: calc(21 / 16);
        text-align: center;
    
        color: var(--accent-color);
        background-color: var(--main-bg-color);

        @include tablet{
            width: 186px;
        }
    
        &:hover,
        &:focus {
            background-color: #ECEBEB;
            transform: scale(1.02);
        }

        &::after{
            content: '';
                background-image: url("../images/svg/continiue.svg");
                ;
                background-size: contain;
                background-repeat: no-repeat;
                width: 5.5px;
                height: 8px;
                transform: translateY(2px);
                margin-left: 16px;
            
                @include tablet {
                    width: 4.5px;
                    margin-left: 14px;
            
                }
        }
}


// .icon-conatiner {
//     // position: relative;
//     margin-left: 12px;
//     background-image: url("../images/svg/continiue.svg");
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: 4px;
//     height: 8px;
//     transform: translateY(2px);

   
// }

// .mob-icon-conatiner {
//     margin-left: 16px;
//         background-image: url("../images/svg/continiue.svg");
//         background-size: contain;
//         background-repeat: no-repeat;
//         width: 5.5px;
//         height: 8px;
//         transform: translateY(1.5px);
//         @include tablet{
//             margin-right: 14px;
//             width: 4.5px;
//         }
// }

.hide-mob {

    display: none;


    @include tablet {
        display: block;
    }

    @include desktop {
        margin-left: auto;
    }
}

.mob-menu-container {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
    height: 100%;
    background-color: none;
}


.mob-menu {
    position: fixed;
    top: 0;
    right:0;
    width: 100vw;
    height: 100vh;
    background-color: #E17992;
    font-weight: 700;
    z-index: 5;
    pointer-events: all;
    visibility: visible;
        opacity: 1;
        transition: transform 1000ms var(--timing-animation), translate 1000ms var(--timing-animation);
        // transition: all 1000ms var(--timing-animation);

    @include tablet {
        width: 254px;
        right: 0;
    }
    @include desktop{
        display: none;
    }
}

.menu-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-right: 20px;

    background-image: url("../images/svg/close-menu.svg");
    width: 14px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}



.mob-menu__list {
    margin-top: 19px;
}

.mob-menu__item {
    padding: 11px 0;
    padding-left: 20px;
    border-bottom: 1px solid #E18298;

    &:first-child {
        border-top: 1px solid #E18298;
    }
}

.mob-menu__link {
    font-size: 14px;
    line-height: calc(18 / 14);
    color: var(--light-text-color);

    &:focus,
    &:hover {
        transform: scale(1.02);
        color: var(--accent-color);
    }
}

.mob-menu__link--accent {
    color: var(--accent-color);
}

// .mob-menu--active {

   

// }

.mob-menu.mob-menu--hide {
    transform: translateX(200%);
    // scale: 0;

    // opacity: 0;
    // transition: transform 1000ms var(--timing-animation), translate 1000ms var(--timing-animation);
    transition: all 1000ms var(--timing-animation);  
    pointer-events: none;
    visibility: hidden;
}


.cow-feature{
    position: absolute;
    top: 30%;
    left: -100%;
    width: 300px;
    height: 300px;
    background-image: url("../images/header-img/cow-balloon-min.png") ;
    z-index: 6;
    background-size: contain;
    background-repeat: no-repeat;
    @include tablet{
        display: none;
    }
}


