.hero {
  background-color: #ffb8ca;

  // background-image: radial-gradient(
  //   circle at center 5% 5%,
  //   #FFA5BA 0px,
  //   #FFA5BA 172px,
  //   var(--background-color) 172px,
  //   var(--background-color) 100%
  // );
  overflow: hidden;

  &-container {
    padding-top: 194px;
    padding-bottom: 158px;

    @include tablet {
      padding-top: 102px;
      padding-bottom: 190px;
    }

    @include desktop {
      padding-top: 147px;
      padding-bottom: 316px;
    }
  }

  .container {
    position: relative;
    // overflow: hidden;
  }
}

.hero-title {
  width: 218px;

  z-index: 2;
  position: relative;

  @include tablet {
    width: 162px;
  }

  &__top {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: calc(30 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;

    @include tablet {
      font-size: 22px;
      line-height: calc(25 / 22);
    }

    @include desktop {
      
    }
  }

  &__bottom {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96.5%;
    text-transform: uppercase;
    color: #d41443;

    @include tablet {
      font-size: 22px;
      line-height: 25px;
    }
  }
}

.hero-button {
  right: auto;
  z-index: 2;
  position: relative;
  display: flex;
  margin-top: 20px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 63px;
    height: 24px;
    margin-right: 8px;
    border-radius: 20px;

    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    color: #ffffff;
    background: #d41443;
  }

  &__ready {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 83px;
    height: 24px;
    border-radius: 20px;

    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: center;

    color: #d41443;
    background: #ffffff;
  }
}

.background-round {
  position: absolute;
  border-radius: 50%;

  width: 346px;
  height: 344px;

  background: #ffa5ba;
  // top: 83px;
  // left: 36px;

  top: 16.5%;
  left: 7%;

  @include tablet {
    top: 10%;
    left: 32%;
  }
}

.background-round::before {
  position: absolute;
  content: '';
  background-image: url(../images/hero-images/hero-ice-cream-mob.png);
  background-repeat: no-repeat;

  width: 171px;
  height: 410px;

  left: 81px;
  top: 9px;

  @include tablet {
    left: 74px;
    top: 37px;

    width: 143px;
    height: 336px;

    background-image: url(../images/hero-images/hero-ice-cream-tab.png);
    background-repeat: no-repeat;
  }
}

.hero-title__content {
  display: none;
  @include tablet {
    display: block;

    position: absolute;
    top: 91px;
    right: 32px;
  }
}

.hero-title__container {
  display: none;

  @include tablet {
    display: block;

    position: absolute;
    top: 151px;
    right: 32px;
  }
}

.hero-title__content--title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

.hero-title__content::after {
  content: '';
  display: block;

  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;

  position: absolute;
  top: -2px;
  right: -10px;
}

.hero-title__container::after {
  content: '';
  display: block;

  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;

  position: absolute;
  top: -1px;
  right: -8px;
}

.hero-title__content--text {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: #ffffff;
}

.milk-bucket {
  display: none;
  position: absolute;

  @include tablet {
    display: block;

    left: 32px;
    bottom: 16px;

    @include desktop {
    }
  }
  &__descr {
    position: absolute;

    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  &__text {
    width: 114px;
    font-size: 8px;
    line-height: 150%;
    color: #ffffff;

    margin-bottom: 7px;
  }

  .milk-bucket__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;

    border-radius: 50%;
    background-color: #fff;
  }

  .milk-bucket__icon-arrow {
    width: 8px;
    height: 8px;

    color: #d41443;
    fill: currentColor;
  }
}

.licking-lady {
  display: none;

  @include tablet {
    display: block;

    position: absolute;
    bottom: -5px;
    right: 32px;
  }
}
