.about-product__name {
    justify-content: center;
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 34px;
    font-weight: 400;
    font-family: Titan One;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-top: 16px;
        margin-bottom: 40px;
    }
}

.about__product {
    background-color: #FFF5F6;
    
}

.about {
    text-align: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    color: #FFA5BA;
    font-size: 18px;
    font-weight: 400;
    font-family: Titan One;

    @media screen and (min-width: 768px) {
        font-size: 26px;
    }

}

.about-picture {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.product__picture {
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        width: 336px;

    }
}

.about-item {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.58;
    color: var(--main-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 40px;
@include tablet {
    font-size: 14px;
    line-height: 1.79;
    padding-right: 0px;
}
}

.about--product {
    color: var(--secondary-text-color);
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.58;
    padding-top: 30px;
    text-align: left;
    justify-content: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 60px;
    line-height: 162%;
    @include tablet {
        font-size: 14px;
        margin-right: 0px;
        padding-top: 24px;
        line-height: 1.79;
    }
}

.about--milk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    
}

.about__picture--milk {
    position: absolute;
    background-repeat: no-repeat;
    max-width: 100%;
    top: 80px;
    justify-content: center;
    text-align: center;
    @include tablet {
        display: none;
    }
}

.production {
    padding-top: 10px;
    margin-top: 0px;
}

.button-about {
    width: 176px;
    height: 44px;
    padding-left: 37px;
    padding-right: 56px;
    border-radius: 22px;
    border: transparent;
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    margin-top: 20px;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    
        @include tablet {
            font-size: 16px;
            margin-top: 40px;
        }
    
}



.about__icon {
    color: var(--accent-color);
    margin: 0px;
    padding: 0px;
    width: 5px;
    height: 8px;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    right: 24%;
    transform: translateY(-50%);

}

.about-list{
    @include tablet {
        display: inline-flex;
        margin-left: 16px;
        margin-right: 18px;
        gap: 32px;
    }
}