.about-product__name {
  justify-content: center;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 34px;
  font-weight: 400;
  font-family: 'Titan One';
  margin-bottom: 32px;

  @include tablet {
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 40px;
  }
  @include desktop {
    font-size: 58px;
    letter-spacing: 0.06em;
    margin-bottom: 81px;
  }
}



.about__product {
  background-size: contain;
    max-width: 100%;
    z-index: 1;
  background-color: var(--secondary-bg-color);
  padding-bottom: 40px;
  background-image: url(../images/about-images/about-bgmilk-mob.png);
    background-position: 0 590;
    background-repeat: no-repeat;
  
    @include retina {
      background-image: url(../images/about-images/about-bgmilk-mob@2x.png);
    }


 

  @include tablet {
    padding-bottom: 60px;
    background-image: none;
    
  }
  @include desktop {
   
    padding-bottom: 20px;
    background-size: contain;
    background-image: url(../images/about-images/about-bgmilk-desk.png);
      background-position: 0 236;
      background-repeat: no-repeat;
      max-width: 100%;
      z-index: 1;
    
      @include retina {
        background-image: url(../images/about-images/about-bgmilk-desk@2x.png);
      }
  }
}

.about {
  text-align: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  color: var(--round-color);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Titan One';

  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
  @include desktop {
    font-size: 30px;
  }
}

.about-picture {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;
}

.product__picture {
  margin-bottom: 40px;

  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 501px;
  }
}

.about-item {
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 500;
  line-height: 1.58;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-right: 40px;
  @include tablet {
    font-size: 14px;
    line-height: 1.79;
    padding-right: 0px;
  }
  @include desktop {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 16px;
  }
}

.about--product {
  color: var(--secondary-text-color);
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 500;
  line-height: 1.58;
  padding-top: 20px;
  text-align: left;
  justify-content: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 60px;
  letter-spacing: 0.04em;
  line-height: 162%;
  @include tablet {
    font-size: 14px;
    margin-right: 0px;
    padding-top: 24px;
    line-height: 1.79;
  }
  @include desktop {
    padding-top: 32px;
  }
}

.about-text {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about--milk {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  @include desktop {
    padding-top: 90px;
    display: block;
  }
}


.production {
  padding-top: 10px;
  margin-top: 0px;
  @include desktop {
    padding-top: 32px;
  }
}

.button-about-open {
  width: 176px;
  height: 44px;
  padding-left: 37px;
  padding-right: 56px;
  border-radius: 22px;
  border: transparent;
  background-color: var(--main-bg-color);
  color: var(--accent-color);
  margin-top: 20px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  &:hover,
  &:focus {
    transform: scale(1.04);
    background-color: #ECEBEB;
  }
  @include tablet {
    font-size: 16px;
    margin-top: 40px;
  }
  @include desktop {
    align-items: left;
  }
}

.about__icon {
  color: var(--accent-color);
  margin: 0px;
  padding: 0px;
  width: 5px;
  height: 8px;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  right: 24%;
  transform: translateY(-50%);
}

.about-menu {
    background-color: var(--background-color);
    color: var(--light-text-color);
    text-align: justify;
    font-size: 14px;
    position: fixed;
    top: 50%;
     left: 50%;
    width: 100%;
    height: 100%;
    max-height: 600px;
    z-index: 1;
     overflow-y: auto;
     overflow: hidden;
    border-radius: 20px;
    transform: translate(-50%, -50%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-size: contain;
      
      max-width: 380px;
      z-index: 10;
      background-image: url(../images/about-images/about-bgmilk-mob.png);
        background-position: top;
        background-repeat: no-repeat;
       
        @include retina {
          background-image: url(../images/about-images/about-bgmilk-mob@2x.png);}
                     
      @include tablet {
          position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
          max-width: 450px;
          //  min-height: 450px;
           
        }
       
              
      @include desktop {
        // max-height: 570px;
      }

      .about-menu.hidden {
        transform: translate(-50%, -50%) scale(0.75);
          opacity: 0;
      }

    .container-menu {
      display: block;
       flex-direction: column;
      //  gap: 30px;
      justify-content: space-between;
      max-height: 100%;
      // width: 100%;
      padding: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 340px;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
  @include tablet {
      // display: block;
      gap: 0px;
      max-width: 450px;
      max-height: 570px;
    }
  
    @include desktop {
      gap: 0px;
      // max-height: 570px;
      margin-left: 0px;
      margin-right: 0px;
      background-size: 100%;
      max-height: 570px;
    }
    }
  
 
}


  
.container__about {
  position: relative;
}

.about-modul__picture {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.modal__text {
  font-size: 26px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 10px;
  color: var(--accent-color);
  font-family: titan One;
}

.modal-about__text {
  font-size: 12px;
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 5px;
  @include tablet {
    font-size: 12px;
    padding-bottom: 10px;
  }
}

.about-video-wrapper {
justify-content: center;
  margin-left: 0px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border-radius: 24px;
  @include tablet{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 40px;
  }
}

.js-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
  border-radius: 50%;
  position: fixed;
  top: 15px;
  right: 18px;
 
  @include tablet {
    top: 10px;
    right: 20px;
  }
}

.js-icon--about {
  fill: currentColor;
  width: 16px;
  height: 16px;
  transform: rotate(-100);
    transition: 250ms transform var(--timing-animation);
  display: flex;
    &:hover,
    &:focus {
      transform: rotate(180deg);
    }
}

.about-list {
    
   display: block;
    @include tablet {
display: inline-flex;
    gap: 32px;}
    @include desktop{
      
        gap: 99px;
    }
}