

li {
    list-style-type: none;
}

.container {

    outline: 3px solid red;
    }

.list__products {

    @media screen and (width: 768px) {
        display: flex;

    }

    @media screen and (width: 1200px) {
        display: flex;

    }

}

/*.test {
   
        width: 150px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: pre;
 }*/

 .decor-dots__products {
    text-align:center;
    margin-top: 32px ;
    margin-bottom: 32px;
}

.dot{
    height: 6px;
    width: 6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
 }



.title__products{
      /*подключить стили текста*/
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443; /*var (--accent-color)*/

    @media screen and (width: 768px) {
        font-size: 48px;
        line-height: 1.14;
    
    }

    @media screen and (width: 1200px) {
        font-size: 66px;
    line-height: 1.13;
  
    }

} 


.title__above-products{
    /*подключить стили текста*/
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFA5BA;

    @media screen and (width: 768px) {
        font-size: 26px;
        line-height: 1.15;    
    }

    @media screen and (width: 1200px) {
        font-size: 30px;
    line-height: 1.13;
  
    }

}



.item__products {
    width: 280px;
    height: 489px;
    background-color: #F0D1A5;
    border-radius: 24px;
    margin-bottom: 140px;

    @media screen and (width: 768px) {
        width: 224px;
        height: 473px; 
    
    }

    @media screen and (width: 1200px) {
        width: 368px;
        height: 535px;
  
    }

}

.item__products:first-child {
    background-color:#FFB8CA;
}

.item__products:last-child {
    background-color: #C2E297;

}


/*
.card__products {



}*/



.titel__products {
/*подключить стили текста*/
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #FFFFFF;

display: block;
align-items: center;

@media screen and (width: 768px) {
    line-height: 1.15;

}

@media screen and (width: 1200px) {
font-size: 30px;
line-height: 1.14;

}

}


.titel__products::before {
    content: '';
    width: 280px;
    height: 280px;
   /* background-image: url("../../images/products-images/product");*/
   /* display: block;*/
   /* margin-top: -15%; 
    position: inherit;*/
    margin-bottom: 20px;
 
}




.text__products {
    /*подключить стили текста*/
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 176%;

text-align: center;
letter-spacing: 0.04em;

color: #FFFFFF;
}


.btn__products {
    background-color: #D41443;
    margin: 40px auto 32px;
    display: flex;
    width:40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transform: scale (1);
    transition: 1s;
    &:hover,
    &:focus {
    transform: scale (1.5);
};

    
}


.btn-products__icon {
/*background-image: url("../images/svg/arrow-right.svg#icon-arrow-right");*/  
color: #D41443;
fill: currentColor;



}
